/* COLOURlovers */

.color-DDDDDD
{
background-color: #DDDDDD;
}

.color-707170
{
background-color: #707170;
}

.color-415D75
{
background-color: #415D75;
}

.color-F59A27
{
background-color: #F59A27;
}

.color-B1C943
{
background-color: #B1C943;
}

