<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <components>
      <component
			id="sessionBuilder"
			service="Arashi.Core.NHibernate.ISessionBuilder, Arashi.Core"
			type="Arashi.Core.NHibernate.HybridSessionBuilder, Arashi.Core">
      </component>

      <component
			id="repository"
			service="Arashi.Core.Repositories.IRepository`1, Arashi.Core"
			type="Arashi.Core.Repositories.NHRepository`1, Arashi.Core">
      </component>
      <component
			id="commonrepository"
			type="Arashi.Core.Repositories.CommonRepository, Arashi.Core">
      </component>

      <!-- Core services -->
      <component
			id="core.siteservice"
			service="Arashi.Core.Cms.Services.SiteStructure.ISiteService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.SiteStructure.SiteService, Arashi.Core.Cms">
      </component>
      <component
			id="core.pageservice"
			service="Arashi.Core.Cms.Services.SiteStructure.IPageService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.SiteStructure.PageService, Arashi.Core.Cms">
      </component>
      <component
			id="core.sectionservice"
			service="Arashi.Core.Cms.Services.SiteStructure.ISectionService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.SiteStructure.SectionService, Arashi.Core.Cms">
      </component>
      <component
			id="core.moduletypeservice"
			service="Arashi.Core.Cms.Services.SiteStructure.IModuleTypeService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.SiteStructure.ModuleTypeService, Arashi.Core.Cms">
      </component>
      <component
			id="core.sitetemplateservice"
			service="Arashi.Core.Cms.Services.SiteTemplate.ISiteTemplateService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.SiteTemplate.SiteTemplateService, Arashi.Core.Cms">
      </component>
      <component
			id="core.menuservice"
			service="Arashi.Core.Cms.Services.SiteStructure.IMenuService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.SiteStructure.MenuService, Arashi.Core.Cms">
      </component>
      <component
			id="core.controlpanelservice"
			service="Arashi.Core.Cms.Services.ControlPanel.IControlPanelService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.ControlPanel.ControlPanelService, Arashi.Core.Cms">
      </component>

      <!-- Membership -->
      <component
			id="core.userservice"
			service="Arashi.Core.Cms.Services.Membership.IUserService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Membership.DefaultUserService, Arashi.Core.Cms">
      </component>
      <component
			id="core.authenticationservice"
			service="Arashi.Core.Cms.Services.Membership.IAuthenticationService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Membership.FormsAuthenticationService, Arashi.Core.Cms">
      </component>
      
      
      <component
			id="core.messagetemplate"
			service="Arashi.Core.Cms.Services.MessageTemplate.IMessageTemplateService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.MessageTemplate.MessageTemplateService, Arashi.Core.Cms">
      </component>
      <component
			id="core.htmltemplate"
			service="Arashi.Core.Cms.Services.HtmlTemplate.IHtmlTemplateService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.HtmlTemplate.HtmlTemplateService, Arashi.Core.Cms">
      </component>
      <component
			id="core.helptips"
			service="Arashi.Core.Cms.Services.HelpTips.IHelpTipsService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.HelpTips.HelpTipsService, Arashi.Core.Cms">
      </component>
      
      <!-- Notification Service 
      <component
			id="core.notificationservice"
			service="Arashi.Services.NotificationService.INotificationService, Arashi.Services.NotificationService"
			type="Arashi.Services.NotificationService.DefaultNotificationService, Arashi.Services.NotificationService">
         <parameters>
            <sendMessages>#{SendMessages}</sendMessages>
         </parameters>
      </component>
      <component
			id="core.emailsender"
			service="Arashi.Services.NotificationService.ISender, Arashi.Services.NotificationService"
			type="Arashi.Services.EmailService.EmailSender, Arashi.Services.EmailService">
         <parameters>
            <host>#{Host}</host>
            <port>#{Port}</port>
            <smtpUsername>#{UserName}</smtpUsername>
            <smtpPassword>#{Password}</smtpPassword>
         </parameters>
      </component>
      <component
			id="core.templateengine"
			service="Arashi.Services.NotificationService.ITemplateEngine, Arashi.Services.NotificationService"
			type="Arashi.Services.NotificationService.VelocityTemplateEngine, Arashi.Services.NotificationService">
      </component>
      <component
			id="core.messagestore.email"
			service="Arashi.Services.NotificationService.IMessageStore, Arashi.Services.NotificationService"
			type="Arashi.Services.EmailService.EmailStore, Arashi.Services.EmailService">
      </component>
      -->
      
      <!-- Content related services with decorators -->
      <component
			id="core.searchdecorator"
			service="Arashi.Core.Cms.Services.Content.IContentItemService`1, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Search.SearchDecorator`1, Arashi.Core.Cms">
         <parameters>
            <contentItemDao>${core.versioningdecorator}</contentItemDao>
         </parameters>
      </component>
      <component
			id="core.versioningdecorator"
			service="Arashi.Core.Cms.Services.Content.IContentItemService`1, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Versioning.VersioningDecorator`1, Arashi.Core.Cms">
         <parameters>
            <contentItemDao>${core.contentitemservice}</contentItemDao>
         </parameters>
      </component>
      <component
			id="core.contentitemservice"
			service="Arashi.Core.Cms.Services.Content.IContentItemService`1, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Content.ContentItemService`1, Arashi.Core.Cms">
      </component>

      <component
			id="core.versioningservice"
			service="Arashi.Core.Cms.Services.Versioning.IVersioningService`1, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Versioning.VersioningService`1, Arashi.Core.Cms">
      </component>
      <component
			id="core.categoryservice"
			service="Arashi.Core.Cms.Services.Content.ICategoryService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Content.CategoryService, Arashi.Core.Cms">
      </component>
      <component
			id="core.searchservice"
			service="Arashi.Core.Cms.Services.Search.ISearchService, Arashi.Core.Cms"
			type="Arashi.Core.Cms.Services.Search.SearchService, Arashi.Core.Cms">
      </component>

   </components>
</configuration>