/* COLOURlovers */

.color-224466
{
background-color: #224466;
}

.color-336699
{
background-color: #336699;
}

.color-FFFFFF
{
background-color: #FFFFFF;
}

.color-DDDDDD
{
background-color: #DDDDDD;
}

.color-777777
{
background-color: #777777;
}

