.logo
{
	margin-left:13px;
}

ul, li
{
	margin: 1em 0.5em;
}

ul.navigation li
{
	margin-right: -7px;
}

#header_right_over
{
	height: 350px;
}

.scrollContainer
{
	height: 400px;
}

.scrollContainer.blog
{
	height: 1%;
	overflow: inherit;
	width: 100%;
}

#sidebar_main
{
	height: 700px;
}

.scroll
{
	overflow: hidden;
	background: none;
}

.panel
{
	position: relative;
	overflow:hidden;
}

#panel_02
{
	clear:none;
}

#slider {
	background: transparent url(images/header_background.png) repeat-x scroll 0px 0px;
}

#bottom_container_main
{
	height: 1%;
}

#slider.blog
{
	background:transparent url(images/header_background.png) repeat-x scroll 0 122px;
}

h3.title
{
	height: 30px;
}

.shop_item
{
	height: 180px;
	overflow-y: visible;
}

#login input#login_submit
{
	margin-top: -20px;
	padding-top: 0;
}