<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AppGalleryRequirements" type="AppGallery.SIR.SIRCommandLine.Config.AppGalleryRequirementsSection, SIRCommandLine"/>
    <section name="SqlInfo" type="AppGallery.SIR.SIRCommandLine.Config.SqlInfo, SIRCommandLine"/>
    <section name="MySqlInfo" type="AppGallery.SIR.SIRCommandLine.Config.MySqlInfo, SIRCommandLine"/>
  </configSections>

  <appSettings>
    <!-- Path to the parameters schema file for parameter validation -->
    <add key="parameterSchemaFile" value=".\Parameters.xsd" />

    <!-- Configures whether installation step should be skipped upon successful validation -->
    <add key="skipInstallation" value="true" />

    <!-- Whether Xml report should be generated at the end -->
    <add key="skipReportGeneration" value="false" />

    <!-- Location of Xml report generated at the end of validation (only if skipReportGeneration=false) -->
    <add key="reportFolder" value="%ProgramFiles%\SIR" />

    <!-- Set this if you want to pre-configure the report name as well. Otherwise it will be generated based on the package name.
      <add key="reportFileName" value="MyReport.xml" /> 
      -->

    <!-- Location of SIR general log file -->
    <add key="logFolder" value="%ProgramFiles%\SIR" />

    <!-- Location, to which the app pool identity of the app has permissions to, where zip packages will be unzipped -->
    <add key="unzippedFolderLocation" value="%temp%" />

    <!--    
          For installation & commmand line generation. If the package has more than 1 database, configure a database of your choice.
          Valid DbChoice:
            SQL,
            MySQL,
            Both,
            None
    -->
    <add key="dbType" value="sql"/>

    <!-- To pre-configure physical path of the package
    <add key="sourcePath" value="c:\MyPackage.zip" />
    -->
  </appSettings>

  <AppGalleryRequirements>
    <RequiredProviders>
      <add name="iisapp"/>
      <add name="setacl"/>
    </RequiredProviders>
    <OptionalProviders>
      <add name="DbFullSql"/>
      <add name="DbMySql"/>
    </OptionalProviders>
    <CustomValidParamTags>
      <add name="MyValidTag"/>
    </CustomValidParamTags>
  </AppGalleryRequirements>

  <!-- 
         If the package is successfully validated and skipInstallation=false, SIR will try to install the application.
         This info will be required to set corresponding database parameters for installation to succeed
    -->
  <SqlInfo adminUsername="sa" adminPassword="SqlPasswordForInstallationStep" server=".\SQLExpress" />
  <MySqlInfo adminUsername="root" adminPassword="MySqlPasswordForInstallationStep" server="localhost" />

</configuration>
