@model Arashi.Web.Mvc.Models.TemplateContentModel
   <hr />
   <div id="footer">
	   <p>
		   @bloginfo("name") is powered by
		   <a href="http://www.arashi-project.com/">Arashi</a>
		   <br /><a href='@bloginfo("rss2_url")'>Entries (RSS)</a>
		   
	   </p>
   </div>
</div>
@Plugin.GoogleAnalytics() 
</body>
</html>

