@model Arashi.Web.Mvc.Models.TemplateContentModel
<form role="search" method="get" id="searchform" action='@get_option("home")/search/' >
   <div>
      <label class="screen-reader-text" for="s">Search for:</label>
      <input type="text" value="" name="s" id="s" />
      <input type="submit" id="searchsubmit" value="Search" />
   </div>
</form>   



