/* --------------------------- */
/*     1024 Browser Sizing     */
/* --------------------------- */

#wrap{width: 998px !important;}
#page .header{width: 940px !important;}
.navigation{width: 940px !important;}
#page .navigation ul {width:660px !important;}

#content{width: 940px !important;}
#content .info_bar .twitter {width:560px !important;}
#content .info_bar .twitter p {margin-left:0 !important; width:410px !important;}

.jcarousel-skin-atlantica .jcarousel-container-horizontal {width:860px !important;}
.jcarousel-skin-atlantica .jcarousel-clip-horizontal {width:878px !important;}
.jcarousel-skin-atlantica .jcarousel-item {width:294px !important; overflow: hidden;}
.jcarousel-skin-atlantica .jcarousel-item a img {width:289px !important; overflow: hidden;}
.jcarousel-skin-atlantica .jcarousel-item-horizontal {margin-right: 0px;}

.jcarousel-skin-atlantica-small .jcarousel-container-horizontal {width:860px !important;}

.jcarousel-skin-atlantica-small .jcarousel-clip-horizontal {width:878px !important;}
.jcarousel-skin-atlantica-small .jcarousel-item {width:150px !important; overflow: hidden;}
.jcarousel-skin-atlantica-small .jcarousel-item-horizontal {margin-right: 0px; }

.jcarousel-skin-atlantica-gallery .jcarousel-container-horizontal {width:860px !important;}
.jcarousel-skin-atlantica-gallery .jcarousel-clip-horizontal {width:878px !important;}
.jcarousel-skin-atlantica-gallery .jcarousel-item {width:147px !important; overflow: hidden;}
.jcarousel-skin-atlantica-gallery .jcarousel-item a img {width:140px !important; overflow: hidden;}
.jcarousel-skin-atlantica-gallery .jcarousel-item-horizontal {margin-right: 0px;}
.jcarousel-skin-atlantica-gallery .jcarousel-item-horizontal img {margin-bottom:6px;}
.jcarousel-skin-atlantica-gallery br {display: none; height: 0px !important;}

@media screen and (-webkit-min-device-pixel-ratio:0){
.jcarousel-skin-atlantica-gallery .jcarousel-item-horizontal img {margin-bottom:0px !important;}
}

#content .content_wrap .entries, #content .content_wrap .full-entry {width:570px !important;}
#sidebar .sidebar_wrap {margin-left:22px !important; width:260px !important;}

.footer_nav{width: 940px !important;} 
.footerWrap{width: 940px !important;}
#footer .footerList {width:120px !important;}

.info_bar .twitter ul li, .info_bar .twitter div {margin-left:130px !important;}