/* --------------------------- */
/*     1024 Browser Sizing     */
/* --------------------------- */

#wrap{width: 998px !important;}
#page .header{width: 939px !important;}
.navigation{width: 939px !important;}

#content{width: 939px !important; overflow: hidden;}

.jcarousel-skin-atlantica .jcarousel-clip-horizontal {width:874px !important;}
.jcarousel-skin-atlantica-small .jcarousel-clip-horizontal {width:874px !important;}
.jcarousel-skin-atlantica-gallery .jcarousel-clip-horizontal {width:874px !important;}

#footer .footerList {width:110px !important; margin-left:25px}

#content .info_bar .twitter {width:540px !important;}
#content .info_bar .twitter p {margin-left:0 !important; width:390px !important;}
.info_bar .twitter ul li, .info_bar .twitter div {margin-left:125px !important; width:390px !important;}