/* COLOURlovers */

.color-343434
{
background-color: #343434;
}

.color-999FAD
{
background-color: #999FAD;
}

.color-DDDDDD
{
background-color: #DDDDDD;
}

.color-DDEEFF
{
background-color: #DDEEFF;
}

.color-88AABB
{
background-color: #88AABB;
}

