@inherits Arashi.Web.Mvc.Views.AdminViewPageBase<MessageModel>
@using Arashi.Web.Mvc.Models
<!--msg-@Model.UIState -->
<div class="message ui-widget @Model.CssClass ">
   <div> 
      <div class="growl-icon">
         @if (Model.UIState == "highlight") { 
            <img src="/Resources/img/32x32/apply.png" alt="ok" />
          } else {          
            <img src="/Resources/img/32x32/app_error.png" alt="ok" />
          }
      </div>
      <p>
         @* <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-<%= Model.Icon.ToString().ToLower() %>"></span> *@
         @Model.FullText
      </p>
      @if (Model.IsClosable){ 
         <a href="#" class="message-close ui-corner-all" title='@GlobalResource("Message_Close")' >
            <span class="ui-icon ui-icon-closethick" >close</span>
         </a>
       }
   </div>
</div>


