@model IList<TagDTO>
@using Arashi.Core.Domain.Dto
@* TODO: Rename in AdminTagCloud.ascx *@
@{ foreach (TagDTO dto in Model) { 
   <li value='@dto.Count.ToString() '>
      <a href="#" rel='@dto.TagId.ToString() ' >
         @dto.Name 
      </a>
   </li>     
 } }
