<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <facilities>
      <facility type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration"
			       id="nhibernate" 
			       isWeb="true" 
			       useReflectionOptimizer="false" 
			       defaultFlushMode="Commit">
         <factory id="nhibernate.factory">
            <settings>
               <item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
               <item key="connection.driver_class">NHibernate.Driver.SqlClientDriver</item>
               <item key="dialect">NHibernate.Dialect.MsSql2008Dialect</item>
               <item key="connection.connection_string_name">arashi-db</item>
               <item key="default_schema">dbo</item>
               <item key="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</item>
               <item key="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</item>
               <item key="cache.use_query_cache">true</item>
               <item key="show_sql">true</item>
               <item key="adonet.batch_size">10</item>
               <item key="query.substitutions">true 1, false 0, yes 'Y', no 'N'</item>
               <item key="hbm2ddl.keywords">auto-quote</item>
            </settings>
            <assemblies>
               <assembly>Arashi.Core.NHibernate</assembly>
            </assemblies>
         </factory>
      </facility>
   </facilities>
</configuration>
