<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

   <!-- log4net layout
      %date [%thread] %-5level %logger %property{request_url}%newline%date [%thread] %-5level %logger [%x] &lt;%property{auth}&gt; - %message%newline
      
      NH:
      %date [%thread] %-5level %logger [%x] &lt;%property{auth}&gt; - %message%newline
   -->
   <targets async="true">
         <target name="WebLog"
               xsi:type="File"
               fileName="${basedir}/log/web_log.txt"
               archiveAboveSize="5242880"
               maxArchiveFiles="10"
               archiveNumbering="Sequence"
               layout="${date} [${threadid}] ${level} ${logger} [${ndc}] &lt;&gt;  - ${message}" >
      </target>
      <target name="NHibernateFileLog"
               xsi:type="File"
               fileName="${basedir}/log/nh_log.txt"
               archiveAboveSize="5242880"
               maxArchiveFiles="10"
               archiveNumbering="Sequence"
               layout="${date} [${threadid}] ${level} ${logger} [${ndc}] &lt;&gt;  - ${message}" >
      </target>
      <target name="NHibernateSQLLog"
               xsi:type="File"
               fileName="${basedir}/log/nh_sql_log.txt"
               archiveAboveSize="5242880"
               maxArchiveFiles="10"
               archiveNumbering="Sequence"
               layout="${date} [${threadid}] ${level} ${logger} [${ndc}] &lt;&gt;  - ${message}" >
      </target>
   </targets>

   <rules>
      <logger name="Arashi.*" minlevel="Debug" writeTo="WebLog" />
      <logger name="NHibernate.*" minlevel="Debug" writeTo="NHibernateFileLog" />
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="NHibernateSQLLog" />
   </rules>
</nlog>
