/* Green Style */

body#woothemes { background: #152000 url(green/bg.jpg) repeat-x center 0; }

body#woothemes h1, 
body#woothemes h2, 
body#woothemes h3, 
body#woothemes h4, 
#footer #footerWrap #copy a,
#sidebar a,
ol.commentlist li p a
{ color: #8fb748; }

p.txt0, p.txt0 a, .continue
{ color: #cce4a3; }