<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <configSections>
      <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
      <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false" />
      <sectionGroup name="common">
         <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
      </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
      <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" requirePermission="false" />
      <sectionGroup name="elmah">
         <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
         <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
         <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
         <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      </sectionGroup>
      <section name="dotNetOpenAuth" requirePermission="false" allowLocation="true" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" />
   </configSections>

   <hibernate-configuration>
      <session-factory xmlns="urn:nhibernate-configuration-2.2">
         <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
         <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
         <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
         <property name="connection.connection_string_name">arashi-db</property>
         <property name="default_schema">dbo</property>
         <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
         <property name="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</property>
         <property name="cache.use_query_cache">true</property>
         <property name="show_sql">true</property>
         <property name="adonet.batch_size">20</property>
         <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
         <property name="hbm2ddl.keywords">auto-quote</property>
         <property name="generate_statistics">true</property>
      </session-factory>
   </hibernate-configuration>

   <appSettings>
      <!-- NHibernate Common Logging -->
      <add key="nhibernate-logger" value="NHibernate.Logging.CommonLogging.CommonLoggingLoggerFactory, NHibernate.Logging.CommonLogging" />
      
      <!-- ASP.NET MVC 3 -->
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <!-- General -->
      <add key="InstantIndexing" value="true" />
      
      <!-- Editor -->
      <add key="ContentEditor" value="tinymce34" />
      <!--<add key="ContentEditor" value="tinymce"/>-->
      <!--<add key="ContentEditor" value="codemirror"/>-->

      <!-- Tracking (Analytics) -->
      <add key="EnableTracking" value="false" />
      <add key="AllowTrackingForLocalhost" value="false" />
      
      <!-- Maintenance Mode -->
      <add key="MaintenanceMode_Enabled" value="false" />
      <add key="MaintenanceMode_AllowedIP" value="127.0.0.2,88.149.238.168,91.193.45.6,91.193.45.7" />
      
      <!-- Cloaking -->
      <add key="EnableResponseHeadersCloaking" value="true" />
      
      <!-- Debugging -->
      <add key="RouteDebugger:Enabled" value="false" />

      <!-- NHProfiler -->
      <add key="EnableNHProf" value="false" />
   </appSettings>

   <connectionStrings>
      <clear />
      <!-- DEV -->
      <add name="arashi-db" connectionString="Server=localhost;Database=Arashi;uid=arashiuser;pwd=p@ssw0rd;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
       
      <!-- PROD 
      <add name="arashi-db" connectionString="Server=localhost;Database=Arashi-Prod;uid=arashiuser;pwd=p@ssw0rd;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
      -->
      <!-- TEST INSTALL 
      <add name="arashi-db" connectionString="Server=localhost;Database=Arashi-Test-Install;uid=arashiuser;pwd=p@ssw0rd;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
      -->
   </connectionStrings>

   <elmah>
      <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="arashi-db" />
      <security allowRemoteAccess="true" />
      <!--<errorMail from="elmah@azorasystem.com"
                 to="marcello.palmitessa@gmail.com"
                 subject="ELMAH logged an exception"
                 async="true"
                 smtpPort="465"
                 smtpServer="smtp.gmail.com"
                 userName="xxxxxx"
                 password="xxxxxx" />-->
   </elmah>

   <castle>
      <include uri="file://Config/services.config" />
   </castle>
   
   <clientDependency version="10" />

   <dotNetOpenAuth>
      <openid maxAuthenticationTime="0:06" />
   </dotNetOpenAuth>

   <system.web>
      <!--
         The <customErrors> section enables configuration 
         of what to do if/when an unhandled error occurs 
         during the execution of a request. Specifically, 
         it enables developers to configure html error pages 
         to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
       -->
      <customErrors mode="Off">
      </customErrors>
      
      <!--<trust level="Medium" originUrl="" />-->
      
      <!-- 
         Set compilation debug="true" to insert debugging 
         symbols into the compiled page. Because this 
         affects performance, set this value to true only 
         during development.
       -->
      <compilation debug="true" targetFramework="4.0">
         <assemblies>
            <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
            <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         </assemblies>
      </compilation>
      
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      
      <!--
         The <authentication> section enables configuration 
         of the security authentication mode used by 
         ASP.NET to identify an incoming user. 
       -->
      <authentication mode="Forms">
         <forms loginUrl="~/Admin/Login/IndexClassic" />
      </authentication>
      
      <!-- Allow only authenticated users -->
      <authorization>
         <!--<deny users="?" />-->
      </authorization>
      
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
         <controls>
         </controls>
         <namespaces>
            <add namespace="System.Web.Mvc" />
            <add namespace="System.Web.Mvc.Ajax" />
            <add namespace="System.Web.Mvc.Html" />
            <add namespace="System.Web.Routing" />
            <add namespace="Arashi.Web.Areas.Admin.Extensions" />
         </namespaces>
      </pages>
      
      <httpHandlers>
         <add verb="POST,GET,HEAD" path="/admin/elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
         <add verb="POST" path="pingback.axd" type="Arashi.Web.Components.PingbackHandler, Arashi.Web" />
         <add verb="POST" path="trackback.axd" type="Arashi.Web.Components.TrackbackHandler, Arashi.Web" />
         <!--<add verb="*" path="metaweblog.axd" type="Arashi.Web.Components.MetaWeblogHandler, Arashi.Web"/>-->
         <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
      </httpHandlers>
      
      <httpModules>
         <remove name="PassportAuthentication" />
         <remove name="RoleManager" />
         <remove name="Profile" />
         <!-- Remove the SessionState HttpModule -->
         <remove name="Session" />
      </httpModules>

      <httpRuntime requestValidationMode="2.0" />

      <machineKey validationKey="17464CE56B04D32C4567EC0AD869A8B37B7FF52021618B3E1335C9B4FE3EF1F2942E396B0ECB1575708C76E10466F0C65E2CEEDB06CEE051F3CBF3902202520E" decryptionKey="9DF839CBBD175C9E3EEFEA0FB81AD4A4F4FFC36B349F68CC42667FB2C84AD93C" validation="SHA1" decryption="AES" />
   </system.web>
   
   <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
   -->
   <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true">
         <remove name="PassportAuthentication" />
         <remove name="RoleManager" />
         <remove name="Profile" />
         <remove name="PerRequestLifestyle" />
         <remove name="ErrorLog" />
         <remove name="ErrorMail" />
         <remove name="AuthenticationHttpModule" />
         <remove name="NHibernateSessionWebModule" />
         <remove name="TrackingHttpModule" />
         <remove name="CloakHeaderHttpModule" />
         <remove name="ClientDependencyModule" />

         <!-- Remove the SessionState HttpModule -->
         <remove name="Session" />
      </modules>
      
      <handlers>
         <remove name="MvcHttpHandler" />
         <remove name="UrlRoutingHandler" />
         <remove name="ElmahHandler" />
         <remove name="PingBackHandler" />
         <remove name="TrackingHandler" />
         <remove name="MetaWeblogHandler" />
         <remove name="ClientDependencyHandler" />
         <add name="ElmahHandler" verb="POST,GET,HEAD" path="/admin/elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
         <add name="PingBackHandler" preCondition="integratedMode" verb="POST" path="pingback.axd" type="Arashi.Web.Components.PingbackHandler, Arashi.Web" />
         <add name="TrackingHandler" preCondition="integratedMode" verb="POST" path="trackback.axd" type="Arashi.Web.Components.TrackbackHandler, Arashi.Web" />
         <!--<add name="MetaWeblogHandler" verb="*" path="metaweblog.axd" type="Arashi.Web.Components.MetaWeblogHandler, Arashi.Web"/>-->
         <add name="ClientDependencyHandler" preCondition="integratedMode" verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
      </handlers>
      
      <!-- Use this only for remote debug -->
      <httpErrors errorMode="Detailed"></httpErrors>
      
      <directoryBrowse enabled="false"></directoryBrowse>
      <httpRedirect enabled="false"></httpRedirect>
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <!--<httpWarmup>
            <requests>
                <add requestUrl="Root" allowedResponseCodes="200-399" warmupContext="WarmUpRequest" sendMode="Asynchronous" />
            </requests>
        </httpWarmup>-->
   </system.webServer>
   
   <system.serviceModel>
      <behaviors>
         <serviceBehaviors>
            <behavior name="">
               <serviceMetadata httpGetEnabled="true" />
               <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
   </system.serviceModel>

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <!-- This is required for compatibility of DotNetOpenAuth.Net -->
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.1.0.4000" newVersion="3.1.0.4000" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>   
</configuration>
