<?xml version="1.0"?>
<configuration>

   <configSections>
      <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
      <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" requirePermission="false" />
      <section name="telerik" type="System.Configuration.NameValueSectionHandler,System,Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <sectionGroup name="elmah">
         <section name="security"      requirePermission="false"  type="Elmah.SecuritySectionHandler, Elmah" />
         <section name="errorLog"      requirePermission="false"  type="Elmah.ErrorLogSectionHandler, Elmah" />
         <section name="errorMail"     requirePermission="false"  type="Elmah.ErrorMailSectionHandler, Elmah" />
         <section name="errorFilter"   requirePermission="false"  type="Elmah.ErrorFilterSectionHandler, Elmah" />
      </sectionGroup>
   </configSections>

   <appSettings>
      <!-- General -->
      <add key="InstantIndexing" value="true" />
      
      <!-- Editor -->
      <!--<add key="ContentEditor" value="tinymce" />-->
      <add key="ContentEditor" value="codemirror" />

      <!-- Tracking (Analytics) -->
      <add key="EnableTracking" value="false" />
      <add key="AllowTrackingForLocalhost" value="false" />

      <!-- Maintenance Mode -->
      <add key="MaintenanceMode_Enabled" value="false" />
      <add key="MaintenanceMode_AllowedIP" value="127.0.0.1" />

      <!-- Cloaking -->
      <add key="EnableResponseHeadersCloaking" value="true" />

      <!-- Debugging -->
      <add key="EnableRouteDebug" value="false" />

   </appSettings>

   <connectionStrings>
      <clear />
      <add name="arashi-db" connectionString="Server=localhost;Database=Arashi;uid=arashiuser;pwd=password;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
   </connectionStrings>

   <elmah>
      <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="arashi-db" />
      <security allowRemoteAccess="true" />
   </elmah>

   <castle>
      <include uri="file://Config/facilities.config" />
      <include uri="file://Config/services.config" />
   </castle>

   <telerik>
      <add key="cssPath" value="~/Resources/css"></add>
      <add key="jsPath" value="~/Resources/js"></add>
      <add key="EnableSoftwareCompression" value="false"></add>
      <add key="CombineIfDebuggingEnabled" value="false"></add>
   </telerik>

   <system.web>
      <!--<trust level="Medium" originUrl="" />-->

      <!-- 
         Set compilation debug="true" to insert debugging 
         symbols into the compiled page. Because this 
         affects performance, set this value to true only 
         during development.
       -->
      <compilation debug="true">
         <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
         </assemblies>
      </compilation>

      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

      <!--
         The <authentication> section enables configuration 
         of the security authentication mode used by 
         ASP.NET to identify an incoming user. 
       -->
      <authentication mode="Forms">
         <forms loginUrl="~/Admin/Login" />
      </authentication>

      <!-- Allow only authenticated users -->
      <authorization>
         <!--<deny users="?" />-->
      </authorization>

      <!--
         The <customErrors> section enables configuration 
         of what to do if/when an unhandled error occurs 
         during the execution of a request. Specifically, 
         it enables developers to configure html error pages 
         to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
       -->
      <customErrors mode="On">
      </customErrors>

      <pages>
         <controls>
         </controls>

         <namespaces>
            <add namespace="System.Web.Mvc" />
            <add namespace="System.Web.Mvc.Ajax" />
            <add namespace="System.Web.Mvc.Html" />
            <add namespace="System.Web.Routing" />
            <add namespace="System.Linq" />
            <add namespace="System.Collections.Generic" />
            <add namespace="Arashi.Web.Areas.Admin.Extensions" />
            <add namespace="Telerik.Web.Mvc.UI" />
         </namespaces>
      </pages>

      <httpHandlers>
         <add verb="POST,GET,HEAD" path="/admin/elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
         <add verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
         <add verb="POST" path="pingback.axd" type="Arashi.Web.Components.PingbackHandler, Arashi.Web" />
         <add verb="POST" path="trackback.axd" type="Arashi.Web.Components.TrackbackHandler, Arashi.Web" />
         <!--<add verb="*" path="metaweblog.axd" type="Arashi.Web.Components.MetaWeblogHandler, Arashi.Web"/>-->
      </httpHandlers>

      <httpModules>
         <remove name="PassportAuthentication" />
         <remove name="RoleManager" />
         <remove name="Profile" />
         <!-- Remove the SessionState HttpModule -->
         <remove name="Session" />
         <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.MicroKernel" />
         <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

         <!-- Arashi HttpModules -->
         <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
         <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
         <add name="AuthenticationHttpModule" type="Arashi.Web.Security.AuthenticationHttpModule, Arashi.Web" />
         <add name="NHibernateSessionWebModule" type="Castle.Facilities.NHibernateIntegration.Components.Web.SessionWebModule, Castle.Facilities.NHibernateIntegration" />
         <add name="TrackingHttpModule" type="Arashi.Web.Components.TrackingHttpModule, Arashi.Web" />
         <add name="CloakHeaderHttpModule" type="Arashi.Web.Components.CloakHeaderHttpModule, Arashi.Web" />
      </httpModules>

      <machineKey validationKey="17464CE56B04D32C4567EC0AD869A8B37B7FF52021618B3E1335C9B4FE3EF1F2942E396B0ECB1575708C76E10466F0C65E2CEEDB06CEE051F3CBF3902202520E" decryptionKey="9DF839CBBD175C9E3EEFEA0FB81AD4A4F4FFC36B349F68CC42667FB2C84AD93C" validation="SHA1" decryption="AES" />

   </system.web>

   <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
   -->
   <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />

      <modules runAllManagedModulesForAllRequests="true">
         <remove name="PassportAuthentication" />
         <remove name="RoleManager" />
         <remove name="Profile" />
         <remove name="ScriptModule" />
         <remove name="PerRequestLifestyle" />
         <remove name="UrlRoutingModule" />
         <remove name="ErrorLog" />
         <remove name="ErrorMail" />
         <remove name="AuthenticationHttpModule" />
         <remove name="NHibernateSessionWebModule" />
         <remove name="TrackingHttpModule" />
         <remove name="CloakHeaderHttpModule" />

         <!-- Remove the SessionState HttpModule -->
         <remove name="Session" />
         <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.MicroKernel" />
         <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

         <!-- Arashi HttpModules -->
         <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
         <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
         <add name="AuthenticationHttpModule" type="Arashi.Web.Security.AuthenticationHttpModule, Arashi.Web" />
         <add name="NHibernateSessionWebModule" type="Castle.Facilities.NHibernateIntegration.Components.Web.SessionWebModule, Castle.Facilities.NHibernateIntegration" />
         <add name="TrackingHttpModule" type="Arashi.Web.Components.TrackingHttpModule, Arashi.Web" />
         <add name="CloakHeaderHttpModule" type="Arashi.Web.Components.CloakHeaderHttpModule, Arashi.Web" />
      </modules>

      <handlers>
         <remove name="WebServiceHandlerFactory-Integrated" />
         <remove name="ScriptHandlerFactory" />
         <remove name="ScriptHandlerFactoryAppServices" />
         <remove name="ScriptResource" />
         <remove name="MvcHttpHandler" />
         <remove name="UrlRoutingHandler" />
         <remove name="ElmahHandler" />
         <remove name="AssetHandler" />
         <remove name="PingBackHandler" />
         <remove name="TrackingHandler" />
         <remove name="MetaWeblogHandler" />

         <add name="ElmahHandler" verb="POST,GET,HEAD" path="/admin/elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
         <add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
         <add name="PingBackHandler" preCondition="integratedMode" verb="POST" path="pingback.axd" type="Arashi.Web.Components.PingbackHandler, Arashi.Web" />
         <add name="TrackingHandler" preCondition="integratedMode" verb="POST" path="trackback.axd" type="Arashi.Web.Components.TrackbackHandler, Arashi.Web" />
         <!--<add name="MetaWeblogHandler" verb="*" path="metaweblog.axd" type="Arashi.Web.Components.MetaWeblogHandler, Arashi.Web"/>-->

         <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </handlers>

      <!-- Use this only for remote debug 
      <httpErrors errorMode="Detailed"></httpErrors>-->
      <directoryBrowse enabled="false" ></directoryBrowse>
      <httpRedirect enabled="false" ></httpRedirect>
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
   </system.webServer>

   <system.codedom>
      <compilers>
         <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <providerOption name="CompilerVersion" value="v3.5" />
            <providerOption name="WarnAsError" value="false" />
         </compiler>
      </compilers>
   </system.codedom>
  
</configuration>