/* loading screen */
.ui-loading .ui-mobile-viewport { overflow: hidden !important; }
.ui-loading .ui-loader { display: block; }
.ui-loading .ui-page { overflow: hidden;  }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 10; top: 75px; left: 50%; width: 200px; margin-left: -130px; padding: 20px 30px; }
.ui-loader h1 { font-size: 15px; text-align: center; }
.ui-loader .ui-icon { position: static; display: block; opacity: .9; margin: 0 auto; width: 35px; height: 35px; background-color: transparent; }


.ui-loader {
   left:50%;
   margin-left:-130px;
   opacity:0.85;
   padding:20px 30px;
   position:absolute;
   top:75px;
   width:200px;
   z-index:10;
}

.ui-body-a {
   font-family: Helvetica,Arial,sans-serif;
   background: -moz-linear-gradient(center top , #666666, #222222) repeat scroll 0 0 #222222;
   background: #222 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#222));
   border: 1px solid #2A2A2A;
   color: #FFFFFF;
   font-weight: normal;
   text-shadow: 0 1px 0 #000000;
}

.spin {
}

.ui-loader .ui-icon {
   -moz-border-radius: 9px 9px 9px 9px;
}

.ui-icon-loading {
   -moz-border-radius: 20px 20px 20px 20px;
   background-image: url("/Resources/img/ajax-loader2.gif");
   height: 40px;
   width: 40px;
}

.ui-loader h1 {
   font-size:15px;
   text-align:center;
}



/* jGROWL
------------------------------------------------------------------------------------- */
div.blockUI {
	-moz-border-radius: 6px;
   -webkit-border-radius: 6px;
}


div.jGrowl {
	padding: 			10px;
	z-index: 			9999;
	color: 				#fff;
}

/** Normal Style Positions **/
body > div.jGrowl {
	position:			fixed;
}

body > div.jGrowl.top-left {
	left: 				0px;
	top: 				0px;
}

body > div.jGrowl.top-right {
	right: 				0px;
	top: 				0px;
}

body > div.jGrowl.bottom-left {
	left: 				0px;
	bottom:				0px;
}

body > div.jGrowl.bottom-right {
	right: 				0px;
	bottom: 			0px;
}

body > div.jGrowl.center {
	top: 				0px;
	width: 				50%;
	left: 				25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
	margin-left: 		auto;
	margin-right: 		auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	zoom: 					1;
	width: 					300px;
	padding: 				10px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	font-size: 				1.3em;
	text-align: 			left;
	display: 				none;
}

div.jGrowl div.jGrowl-notification .jGrowl-close {
   text-align: right;
   cursor: pointer;
   font-size: 1em;
   line-height: 20px;
   margin-bottom: 6px;
}

div.jGrowl div.jGrowl-notification {
	min-height: 			40px;
}

div.jGrowl div.jGrowl-notification div.header {
	font-weight: 			bold;
	font-size:				.85em;
}

div.jGrowl div.jGrowl-notification .growl-icon {
   display: inline-block;
   vertical-align: top;
}
div.jGrowl div.jGrowl-notification p {
   display: inline-block;
   width: 260px;
}

div.jGrowl div.jGrowl-notification div.close {
	z-index:				99;
	float: 					right;
	font-weight: 			bold;
	font-size: 				12px;
	cursor:					pointer;
}

div.jGrowl div.jGrowl-closer {
	padding-top: 			4px;
	padding-bottom: 		4px;
	cursor: 				pointer;
	font-size:				.9em;
	font-weight: 			bold;
	text-align: 			center;
}

/** Hide jGrowl when printing **/
@media print {
	div.jGrowl {
		display: 			none;
	}
}

/* Customization by Aozora */
div.jGrowl-notification {border-width: 6px}
div.jGrowl div.message {font-weight: bold}

div.jGrowl-notification .jGrowl-message,
div.jGrowl-notification .jGrowl-message div {
   display: block;
   min-height: 32px;
}



/* HTML
------------------------------------------------------------------------------------- */
html#html-wave {
   background: transparent url('/Resources/img/bkg_wave.jpg') no-repeat center center;
   height: 100%;
   width: 100%;
}

#header {
   border: 0;
}

.#nav {
}


#cp-content.wave {
   background: transparent url(/Resources/img/bkg_wave-light.jpg) no-repeat center center;
}


/* NOSCRIPT
------------------------------------------------------------------------------------- */
#noscript {width: 100%;}
#noscript #noscript-container {
   text-align: center;
   padding: 8px;
	z-index:30001;
	position:absolute;
	top: 40%;
	left: 33%;
}
#noscript #noscript-container-inner {
   text-align: center;
   padding: 4px;
}
#noscript h1 {
   font-weight: bold;
}
#noscript h3 {
   font-size: 1.3em;
}
#noscript p {
    font-size: 1.4em;
    font-weight: normal;
}
#noscript img {
   vertical-align: middle;
   width:32px;
   height: 32px;
}




/* ........ UI additionals ...................  */

/* Grid overrides */
table.ui-state-default tbody.ui-widget-content {
   font-weight: normal;
}

.handle {
   height: 100%;
   width: 16px;
   display: block;
   cursor: pointer;
   background: transparent url("/Resources/img/ui/grip.png") repeat-y 0 0;
}

/* Sortable placeholder row */
.ui-sortable tr.ui-state-highlight {height: 50px}



/* MESSAGE
------------------------------------------------------------------------------------- */
.message {
   display: block
}
td .message {margin-left: 10px; margin-right: 10px}

.message div {
   padding: 0.5em; 
}
.message p {
   /*float: left;*/
   line-height: normal;
}
.message a {font-weight: bold}

.message a.message-close {
   float: right;
   width: 19px;
   height: 16px;
   border: solid 1px transparent;
}
/* Overrides the margin if the message is displayed in a dialog */
.ui-dialog-content .message {
   margin: 4px 0;
}
.ui-dialog-content .message div {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}





/* GLOBAL CLASSES
------------------------------------------------------------------------------------- */
.clear {clear:both} 
.noborder {border: 0}
.hidden {display:none}
.shown {display: block;}
.inlineblock {display: inline-block}

/* GLOBAL WIDTH,ALIGN, COLS 
------------------------------------------------------------------------------------- */
.width-auto {width: auto}
.width-600 {width: 600px}
.width-550 {width: 550px}
.width-500 {width: 500px}
.width-450 {width: 450px}
.width-400 {width: 400px}
.width-350 {width: 350px}
.width-300 {width: 300px}
.width-250 {width: 250px}
.width-220 {width: 220px}
.width-200 {width: 200px}
.width-150 {width: 150px}
.width-120 {width: 120px}
.width-100 {width: 100px}
.width-80 {width: 80px}
.width-70 {width: 70px}
.width-50 {width: 50px}
.width-40 {width: 40px}

.width-100perc {width: 100%}
.width-99perc {width: 99%}
.width-70perc {width: 70%}
.width-15perc {width: 15%}

.col-command {} /* Marker */
.col-check {text-align: center;width: 20px;} /* Se il width viene messo prima del text-align su IE non funziona! */
.col-icons {text-align: center;width: 40px}

.align-left {text-align: left}
.align-center  {text-align: center}
.align-right {text-align: right}
.align-top {vertical-align: top}


/* ERROR.ASPX
------------------------------------------------------------------------------------- */
#cp-content.status403 {
}
#cp-content.status404 {
   background: transparent url(/Resources/img/404.png) no-repeat bottom left;
   min-width: 1024px;
   min-height: 600px;
}
.status500 {
}
.status403 {
}
.status403 {
}

#errorbox {
   margin: 0 30%;
   padding: 10px;
}
#errorbox p {
   font-size: 1.2em;
}
#cp-content.status404 #errorbox {
   width: 400px;
   margin-left: 500px;   
   opacity: 0.8;
}






/* SETUP BOX
------------------------------------------------------------------------------------- */
#setupbox {
   display: block;
   width: 500px;
   margin: 0 auto;
   margin-top: 50px;
   padding: 0;
}
#setupbox-inner {
   z-index: 10000;
}
#setupbox #setupbox-title {
   height: 25px;
   padding: 10px 0 32px 0;
   border: 0;
}

#setup-logo {
   position: absolute;
   margin-top: -40px;
}

#setupbox h2 {}

#setupbox .section-body {
   padding: 16px;
}
#setupbox form#setupform {margin: 0 auto;}


ul#setup-steps {
}
ul#setup-steps li {
   display: block;
   width: 131px;
   height: 56px;
   padding-right: 19px;
}
ul#setup-steps li div {
   display: block;
   height: 48px;
   padding: 4px 2px;
   font-size: 14px;
   line-height: 48px;
}
ul#setup-steps li.current {
   background: transparent url(/Resources/img/setup-current.png) no-repeat top right;
}
ul#setup-steps li.current div {
   border-right: 0
}

#step-content {
   width: 305px;
   padding-left: 5px;
}

/* override for validation */
#setupbox #step-content .field-validation-error {
   display: block
}

/* override for messages */
.message {
   display: block;
   width: auto;
   margin: 10px auto 0 auto;
   padding: 0;
}

/* OPENID
------------------------------------------------------------------------------------- */


/* LOGIN BOX
------------------------------------------------------------------------------------- */
#loginbox {
   display: block;
   width: 450px;
   margin: 0 auto;
   margin-top: 100px;
   padding: 0;
}
#loginbox.openid-login { width: 500px;}
#loginbox-inner {
   z-index: 10000;
}

#loginbox .login-logo {
   text-align: center;
}
#loginbox #loginbox-title {
   height: 25px;
   padding: 30px 0 20px 0;
   border: 0;
}

#loginbox h2 {}

#loginbox .section-body {
   padding: 16px;
}
#loginbox form#loginform {margin: 0 auto;}

/* override for .ui-form-default */
#loginbox .ui-form-default {margin-bottom: 4px}
#loginbox .ui-form-default ol li label {color: #999; font-size: 1.3em; line-height: 1.3em}
#loginbox .ui-form-default input.logintext {
   font-size: 1.3em;
   margin-bottom: 2px;
   width: 98%;
   color:#2779AA;
   font-weight:bold;   
}
#loginbox .ui-form-default label.error {
   width: auto;
   margin-left: 0;
   font-size: 1.1em;
}
#loginbox .section-body label.loginbox-rememberme {
   display: inline; 
   width: 70px;
   font-size: 1.1em;
}
#loginbox .section-body div.loginbox-failure { /* replace with UI ui-state-alert */
   color: #FFF;
   background-color: #F00;
   font-weight: bold;
}
#loginbox div.validation-summary-errors.ui-state-error {font-size: 1.1em; padding: 4px;}
#loginbox #enable-classic-login,
#loginbox #lost-password {font-size: 1.1em}


/* EXTERNAL PROVIDERS - OPENID & FACEBOOK
------------------------------------------------------------------------------------- */
#providers-container ul,
form.openid ul { text-align:center; list-style-type:none; display:inline;}
#providers-container ul li,
form.openid ul li 
{
   float: left; 
   padding: 4px;
   margin: 8px;
}
#providers-container ul li span,
form.openid ul li span {padding:0 1em 0 3px}
form.openid fieldset {clear:both; padding:1em 0}
form.openid div+fieldset {display:none}
form.openid label {display:block; font-weight:normal; font-size:larger; margin-bottom:.5em}

#providers-container,
form.openid #providers-container 
{
   text-align: center;
   margin-bottom: 10px;
   height: 80px;
   /*display: block;*/
}
#providers-container ul li span {display: none;}

form.openid ul li.highlight  
{
   -moz-border-radius:4px; 
   -webkit-border-radius:4px; 
   background-color: #FD6
}

.openid_logo
{
   color: #F7931E;
   padding: 6px 0px 8px 28px; 
   background: url(/Resources/img/openid/openidico.png) no-repeat
}

#openid_login
{
   float:left; 
   font-size:larger; 
   width:30%; 
   margin:2em 1em; 
   text-align:center
}
#openid_login div{margin-top:0.5em}
#openid_login div+span{font-size:smaller}


/* TOP GRID ACTIONS
----------------------------------------------------------------------------------------------------*/
#actions-container {
   display: block;
   margin: 8px 0 16px 0;
}

.filter-actions {
   display: block;
   float: left;
   margin-right: 30px;
}
.filter-actions a {
   padding: 0 0.2em;
}
.filter-actions a.current {
   font-weight: bold;
}
#filter-search {
   display: block;
   float: left;
}


/* SEARCHBOX
------------------------------------------------------------------------------------- */
#searchbox-container {
   display: block;
   float: right;
}
#searchtext {
   display: block;
   float: left;
   width: 250px;
   height: 16px;
   line-height: 16px;
   padding: 4px 0 4px 8px;
   font-size: 1em;
   font-weight: normal;
   color: #666
}
#search-submit {
   display: block;
   float: left;
   width: 24px;
   height: 26px;
   border-left: 0;
}


/* GRID (TABLE)
------------------------------------------------------------------------------------- */
.grid {
   width: 100%;
   empty-cells: show;
   border-collapse: separate;
}
.grid thead tr,
.grid tfoot tr {
   height: 24px;
}
.grid thead tr th,
.grid tfoot tr th {
   padding: 5px;
   font-size: 1em;
}
.grid thead tr th {font-weight: bold;}

.grid tbody {}
.grid tbody tr {
   border: solid 1px transparent;
/*background: -moz-linear-gradient(center top , #FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE;
background: #EEE -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EEE));
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EEE));
text-shadow: #F6F6F6 0px 1px 1px;*/
}
.grid tbody tr td {
   height: 26px;
   padding: 5px;
   border: solid 1px transparent;
   vertical-align: top;
}

/* Hover Actions */
.grid tbody tr td a:hover {text-decoration: underline; }
.grid tbody tr td .hover-actions {visibility: hidden; padding: 2px 0 0 0; vertical-align: top;}
.grid tbody tr:hover td .hover-actions {visibility: visible}
.grid tbody tr td .hover-actions .ui-icon {display: inline-block;}
.grid tbody tr td .hover-actions a {font-weight: normal;font-size: 1.0em; vertical-align: top;}
.grid tbody tr td .hover-actions span.separator {font-weight: normal; line-height: normal; vertical-align: top;}


.grid tbody tr td.title {
   font-weight: normal;
   font-size: 1.2em;
}
.grid tbody tr td span.title {
   font-weight: bold;
   color: #2779AA;
}
.grid tbody tr td .button {
   font-size: 1.1em;
}

   .ui-li-heading {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0.6em 0;
      overflow: hidden;
      white-space: nowrap;
   }
   .ui-li-desc {
      font-size: 1.1em;
      font-weight: normal;
      margin: -0.5em 0 0.6em;
      overflow: hidden;
      white-space: nowrap;
   }


/* width overrides for table cells */
td.width-auto {width: auto}
td.width-450 {width: 450px}
td.width-400 {width: 400px}
td.width-350 {width: 350px}
td.width-300 {width: 300px}
td.width-250 {width: 250px}
td.width-200 {width: 200px}
td.width-150 {width: 150px}
td.width-120 {width: 120px}
td.width-100 {width: 100px}
td.width-50 {width: 50px}
td.width-40 {width: 40px}
td.width-20 {width: 20px}
td.width-16 {width: 16px}

td.width-100perc {width: 100%}
td.width-70perc {width: 70%}
td.width-20perc {width: 20%}
td.width-15perc {width: 15%}

td.multitext {
   word-wrap: break-word;
   overflow: hidden;
}

table.width-auto {width: auto}
table.width-100perc {width: 100%}
table.width-70perc {width: 70%}

td.col-command {padding-right:4px} /* Marker */
td.col-check {text-align: center; width: 20px;} /* if width is before the text-align, on IE don't work! */
td.col-icons {text-align: center; width: 40px}

td.align-left {text-align: left}
td.align-center  {text-align: center}
td.align-right {text-align: right}

.col-date {text-align: center;width:85px}
.col-fulldate {text-align: center;width:140px}


/* PAGER
-----------------------------------------------------------------------------------*/
.wp-pagenavi a, .wp-pagenavi a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #aed0ea;
	color: #2779aa;
	background-color: #d7ebf9;	
}
/*
.wp-pagenavi a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}*/

.wp-pagenavi a:hover {	
	border: 1px solid #74b2e2;
	color: #e17009;
	background-color: #e4f1fb;
}

.wp-pagenavi a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	/*border: 1px solid #0066cc;
	background-color: #FFFFFF;	*/
	color: #000;
}

.wp-pagenavi span.pages {
	padding: 2px 4px 2px 4px; 
	margin: 2px 2px 2px 2px;
	color: #362b36;
}

.wp-pagenavi span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #dddddd;
	color: #362b36;
}

.wp-pagenavi span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #dddddd;
	color: #362b36;
}



/* CONTROLPANEL 
------------------------------------------------------------------------------------- */
#feature-category-container {
   padding: 10px 0;
}
#feature-category-container li {
   display: inline-block;
   width: auto;
   z-index: 15; /* 5 layers above all normal elements */
}
#feature-category-container li h3 {
   text-align: center;
   margin: 8px 0;
   text-decoration: underline;
}
#feature-category-container li p {
   text-align: center;
   font-style: normal;
}
#feature-category-container li .feature-category {
   display: inline-block;
   width: 250px;
   margin: 10px 20px 0 0;
   padding: 10px;
   text-decoration: none;
}
#feature-category-container .feature-category-img {
   display: block;
}
#feature-category-container .feature-category-img img {
   display: block;
   width: 64px;
   height: 64px;
   margin: 0 auto;
}
/*
#feature-category-container li.backLava {
   position: absolute; /* this is automatically added by lavaLamp, if not set, but let's set it for good practice */
   z-index: 3; /* 3 levels higher than all normal elements */
   background-color: transparent;
   border: 1px solid #AED0EA;
   border-radius: 6px 6px 6px 6px;
}
#feature-category-container .feature-category-img img:hover {
   padding: 10px;
   box-shadow: 3px 3px 6px #888888;
   background: -moz-linear-gradient(center top , #F1F7FB 0%, #DEEDF7 100%) repeat scroll 0 0 transparent;
   border: 1px solid #AED0EA;
}*/


#feature-category-container .feature-category-features {
   width: auto;     
}

#category-heading {
   font-size: 28px;
   line-height: 36px;
   color: #333;
   font-weight: normal;
}


.controlpanelgroup {padding-bottom: 10px;}
.controlpanelgroup legend {
   font-size: 28px;
   line-height: 36px;
   color: #333;
}
.controlpanelgroup a.expander {
   display: inline-block;
}

fieldset.controlpanelgroup ul {display: block}

li.controlpanelicon {
   display: inline-block;
   height: 88px;
   padding: 8px;
   margin-bottom: 10px;
   vertical-align: top;
   overflow: hidden;
}

li.controlpanelicon .ui-iconplustext {
   display: block;
   width: 320px;
   height: auto;
   text-align: left;
   text-decoration: none;
margin-bottom: 0;
}
.controlpanelicon span.ui-button-text {
   padding: 0.4em 1em 0.4em 0.4em;
}

#stats li.controlpanelicon {
   border: solid 1px transparent;
   width: auto;
   height: auto;
}
#stats li.controlpanelicon .ui-iconplustext {width: auto}

.controlpanelicon .ui-icon {display: inline-block}


/* ControlPanelIcon SubItem hovering effect */
li.controlpanelicon .new-action {
   border-radius: 10px;   
   margin-left: 52px;
   display: block;
   width: 170px;
   position: absolute;
   padding: 4px 8px 4px 0;
   text-align: center;
}
li.controlpanelicon .new-action a {text-decoration: none;}
/*
li.controlpanelicon > a:hover .new-action {
   display: block;
}*/
li.controlpanelicon:hover .new-action:hover {
   text-decoration: underline;
}


.block-align {
   display: inline-block;
   vertical-align: top;
}
.block-align-left {float: left;}
img.block-align-left {padding: 0 8px 8px 0;}

.wizard-img {
   padding: 0 16px 8px 0;
}


.infoball {
   padding: 0 0.3em;
}
.infoball-top {
   padding: 0 0.3em;
   position: absolute;
   right: -3px;
   text-align: center;
   top: -5px;
}



/* BOX DI PREVIEW PER I THUMBNAIL
------------------------------------------------------------------------------------- */
span.image-preview {
   background-color: #FFF;
   border: 1px solid #ABADB3;
   clear: both;
   display: block;
   width: 120px;
   height: 120px;
   margin: 0;/*pt auto;*/
   overflow: hidden;
   position: relative;
}
span.image-preview img {
   display: block;
   margin: 0pt auto;
   vertical-align: middle;
}
table.image-preview-container tr td {
   border: 0; margin: 0;
}
table.image-preview-container tr td a.button-secondary {
   display: block;
   margin: 4px 0 0 4px;
   height: 24px;
   line-height: 24px;
}


/* Themes Selector
----------------------------------------------------------------------------------------------------*/
#theme-selector li {
   display: inline-block;
   height: 300px;
   vertical-align: top;
}

#theme-selector div {
   display: inline-block;
   width: 300px; 
   height: 320px;
   margin: 2px 8px 8px 2px;
}
#theme-selector div.theme-thumbnail {
   display: block;
   width: 240px;
   height: 200px;
   margin: 4px 30px;
   overflow: hidden;
}
#theme-selector div img {
   display: block;
}

#theme-selector h3 {
   display: block;
   margin: 7px;
   font-family: Verdana; 
   font-size: 1.3em;
   text-align: center;
}

#theme-selector div.theme-button {
   display: block;
   margin: 0;
   height: 32px;
   text-align: center;
}
#theme-selector div.theme-button a.button {
   display: inline-block;
   margin-left: 13px;
   font-size: 1.1em; /* adjust the font for the buttons */
}
#theme-selector div.theme-button div.current {
   height: 24px;
   margin: 0;
   padding: 0;
   border-right: 0;
   border-left: 0;
   font-weight:bold;
   text-align: center;
   text-transform:uppercase;   
}
#theme-selector div.theme-button div.current span {
   display: block;
   vertical-align: middle;
   padding-top: 4px;
   font-size: 1.1em; /* adjust the font for the buttons */
}



/* Tag Check list
----------------------------------------------------------------------------------------------------*/
ul#tagchecklist {
   margin: 4px 0;
}
ul#tagchecklist li {
   margin-bottom: 4px;
   width: auto;
   height: auto;
}
ul#tagchecklist li .tag {
   display: inline-block;
   height: 22px;
   line-height: 22px;
   max-width: 130px;
   margin-right: 8px;
   padding: 2px 4px 2px 24px;
   overflow: hidden;
   background: transparent url(/Resources/img/tag.png) no-repeat 0 50%; 
   font-weight: bold; 
   color: #3B67E2;
}
ul#tagchecklist li a.tag-remove {
   display: none;
   width: auto;
   height: 22px;
   float: right;
} 
ul#tagchecklist li span.ui-icon {
   display: inline-block;
   vertical-align: middle;
   line-height: 22px;
}



/* Tag Cloud
----------------------------------------------------------------------------------------------------*/
#tagcloud a {
   width: auto;
   display:inline-block;
   margin-right: 4px;
   font-weight: normal;
   height: auto;
   line-height: normal;
   overflow: inherit;
   color: #3B67E2;
}

#tagcloud a {
	text-decoration: none !important;
}
#tagcloud a:hover {
	text-decoration: underline !important;
}


/* Posts Table
----------------------------------------------------------------------------------------------------*/
.comment-count {
   display: block;
   width: 25px;
   height: 22px;
   margin: 0 auto;
   background: transparent url("/Resources/img/ui/comment.gif") no-repeat scroll 50% 60%;
   color: #FFF;
}


/* Comments Table
----------------------------------------------------------------------------------------------------*/
table#comments td {
   vertical-align: top;
}

table#comments td.col-author {
   width: 20%;
}

table#comments td.col-author img {
   display: inline-block;
   margin-right: 4px;
   word-wrap: break-word;
   vertical-align: top;
}
table#comments td.col-author div {
   display: inline-block;
}


/* initial status: hidden*/
#reply-container {
   display: none;
}
#reply-header {
   padding: 4px 0;
   font-size: 12px;
   font-weight: bold;
}
#reply-content-container {
   height:120px;
   padding: 4px;
}
#reply-footer {
   height: 32px;
   padding: 4px 0 0 0;
   text-align: center;
}
#replyContent {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 12px;
   font-weight: normal;
   line-height: 150%;
   outline: medium none;
}



/* CodeMirror Editor
----------------------------------------------------------------------------------------------------*/
.CodeMirror-line-numbers {
   width: 2.2em;
   color: #aaa;
   background-color: #eee;
   text-align: right;
   padding-right: .3em;
   font-size: 10pt;
   font-family: monospace;
   padding-top: .4em;
}


/* MEDIA MANAGER
----------------------------------------------------------------------------------------------------*/

.media-container {
   display: block;
   width: 600px;
   height: 450px;
   overflow: auto;
}

#actions-panel {
   margin-top: 100px;
   padding-right: 20px;
}

#crop-selection-grid.grid {
   border-collapse: separate;
   empty-cells: show;
}
#crop-selection-grid td {
   font-size: 0.8em;
   height: 20px;
   padding: 2px;
   vertical-align: top;
}

/* Media Browser (when used inline in a page)
----------------------------------------------------------------------------------------------------*/
#mediabrowser {
   width: 550px;
}
#mediabrowser tr,
#mediabrowser td {
   height: 48px;
}
#mediabrowser {
   -moz-box-shadow: transparent;
   -webkit-box-shadow: transparent;
}
#mediabrowser.grid tbody tr td .hover-actions {
   margin: 0;
   padding: 0;
}
#mediabrowser.grid tbody tr td .hover-actions a {
   font-size: 1.1em;
   display: block;
   width: auto;
   padding: 2px 0;
   text-decoration: none;
}

#mediabrowser.grid tbody tr td .hover-actions a:hover {text-decoration: none; }

#mediabrowser .ui-button-text { text-decoration: none; padding-left: 11px;}



/* SlickGrid Default theme
----------------------------------------------------------------------------------------------------*/
/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
	width: 100%;
	overflow: hidden;
	border-left: 0px;
}

.slick-header-columns, .slick-headerrow-columns {
	width: 999999px;
	position: relative;
	white-space: nowrap;
	cursor: default;
	overflow: hidden;
}

.slick-header-column.ui-state-default {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 4px;
	border-right: 1px solid silver;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
	float: left;
}

.slick-headerrow-column.ui-state-default {
    padding: 4px;
}

.slick-header-column-sorted {
	font-style: italic;
}

.slick-sort-indicator {
	display: inline-block;
	width: 8px;
	height: 5px;
	margin-left: 4px;
}

.slick-sort-indicator-desc {
	background: url(images/sort-desc.gif);
}

.slick-sort-indicator-asc {
	background: url(images/sort-asc.gif);
}

.slick-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	cursor: col-resize;
	width: 4px;
	right: 0px;
	top: 0;
	height: 100%;
}

.slick-sortable-placeholder {
	background: silver;
}

.grid-canvas {
	position: relative;
	outline: 0;
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
	position: absolute;
	border: 0px;
}

.slick-cell, .slick-headerrow-column {
	float: left;

	border: 1px solid transparent;
	border-right: 1px dotted silver;
	border-bottom-color: silver;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	z-index: 1;
	padding: 1px 2px 2px 1px;
    margin: 0;
    
	white-space: nowrap;

	cursor: default;
}

.slick-group {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slick-group-toggle {
    display: inline-block;
}

.slick-cell.highlighted {
    background: lightskyblue;
    background: rgba(0,0,255,0.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.slick-cell.flashing {
    border: 1px solid red !important;
}

.slick-cell.editable {
	z-index: 11;
	overflow: visible;
	background: white;
	border-color: black;
	border-style: solid;
}

.slick-cell:focus {
	outline: none;
}

.slick-reorder-proxy {
	display: inline-block;
	background: blue;
	opacity: 0.15;
	filter: alpha(opacity=15);
	cursor: move;
}

.slick-reorder-guide {
	display: inline-block;
	height: 2px;
	background: blue;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.slick-selection {
    z-index: 10;
    position: absolute;
    border: 2px dashed black;
}



   .loading-indicator {
		display: inline-block;
		padding: 12px;
      opacity:0.85;
		color: black;
		font-weight: bold;
		z-index: 9999;
	}
 
	.loading-indicator label {
		padding-left: 20px;
		background: url('/Resources/img/ajax-loader-small.gif') no-repeat center left;
	}





/* ColorBox
----------------------------------------------------------------------------------------------------*/

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(/Resources/img/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(/Resources/img/colorbox/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(/Resources/img/colorbox/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/Resources/img/colorbox/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(/Resources/img/colorbox/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(/Resources/img/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/Resources/img/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/Resources/img/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/Resources/img/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; font-size: 1.3em; font-weight: bold; text-shadow: 0 1px 0 #888;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; font-size: 1.2em; text-shadow: 0 1px 0 #888;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(/Resources/img/colorbox/controls.png) no-repeat -75px 0px; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/Resources/img/colorbox/controls.png) no-repeat -50px 0px; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(/Resources/img/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/Resources/img/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(/Resources/img/colorbox/controls.png) no-repeat -25px 0px; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}




/* Jcrop
----------------------------------------------------------------------------------------------------*/
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url(/Resources/img/jcrop.gif) top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
	