/* --------------------- */
/*     QUICK STYLING     */
/*  CHANGE THE BG IMAGE  */
/*  & LINK COLORS HERE   */
/* --------------------- */

html{background: transparent url(img/vintage-top-bg.gif) repeat-x 0 -9px;}
body{background: #000000 url(img/vintage-bg.gif) repeat; border-bottom:15px solid #000000;}

a{color: #c90000;}
a:hover {color: #c90000;}

#content .content_wrap.entries .entry h2, #content .content_wrap .full-entry .post h2{color: #c90000;}
#sidebar ul.categories li a{color: #c90000;}

#footer {padding-bottom:20px; margin-bottom: 0px;}
#footer h2 {color:#333333;}
#footer .footerList li ul li a {color:#777777;}
#footer .copyright span {color:#666666;}
#footer .copyright {color:#777777;}

#content .content_wrap .entries ul li .entry ul li, #content .content_wrap .full-entry .post ul li {
background:transparent url(img/grey-bullet.gif) no-repeat scroll 0 0;}

#footer .copyright a{color: #c90000;}
